Repository ipryshchepa/FTG12: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov Configuration (OPTIONAL)
# 
# This configuration is NOT required for the CI/CD pipeline to work.
# Coverage checks are enforced natively in GitHub Actions.
# 
# If you want to use Codecov for additional coverage insights:
# 1. Sign up at https://codecov.io
# 2. Add CODECOV_TOKEN to repository secrets
# 3. Uncomment the codecov upload steps in .github/workflows/ci.yml
#
coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error
        
    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, files, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - Backend/
    carryforward: true
    
  frontend:
    paths:
      - Frontend/
    carryforward: true

ignore:
  - "**/*.test.js"
  - "**/*.test.jsx"
  - "**/test-utils/**"
  - "**/coverage/**"
  - "**/node_modules/**"
  - "**/bin/**"
  - "**/obj/**"
  - "**/*.Tests/**"

docs: Add CI/CD pipeline testing instructions
  README.md
Due: none

fix(ci): Fix CI/CD pipeline issues
  .github/workflows/ci.yml
  Frontend/eslint.config.js
  Frontend/src/hooks/useBooks.test.js
  Frontend/src/pages/BookDetails.test.jsx
  Frontend/src/services/bookService.js
Due: frontend

fix(ci): Add PR permissions and improve coverage threshold checks
  .github/workflows/ci.yml
Due: none

fix(ci): Use Python for coverage threshold checks
  .github/workflows/ci.yml
Due: none

fix(ci): Configure backend coverage correctly
  .github/workflows/ci.yml
Due: none

fix(test): Add json-summary reporter to generate coverage-summary.json
  Frontend/vite.config.js
Due: frontend

fix(coverage): Exclude auto-generated code and set 80% threshold
  .github/workflows/ci.yml
  Backend/coverlet.runsettings
Due: backend

fix(ci): Fix docker build contexts and add container startup tests
  .github/workflows/ci.yml
Due: none

feat(ci): Remove obsolete coverage comments before posting new ones
  .github/workflows/ci.yml
Due: none

fix(ci): Correct bot user detection for comment cleanup
  .github/workflows/ci.yml
Due: none

fix(ci): Use update instead of delete for comment management
  .github/workflows/ci.yml
Due: none

fix(frontend): Add missing useEffect dependencies with useCallback
  Frontend/src/pages/BookDetails.jsx
  Frontend/src/pages/LoanedBooks.jsx
Due: frontend

feat(ci): Delete obsolete comments with permission verification and logging
  .github/workflows/ci.yml
Due: none

docs: Add CI/CD pipeline testing instructions (#20)
  .github/workflows/ci.yml
  Backend/coverlet.runsettings
  Frontend/eslint.config.js
  Frontend/src/hooks/useBooks.test.js
  Frontend/src/pages/BookDetails.jsx
  Frontend/src/pages/BookDetails.test.jsx
  Frontend/src/pages/LoanedBooks.jsx
  Frontend/src/services/bookService.js
  Frontend/vite.config.js
  README.md
Due: backend, frontend

docs: simplify documentation and replace Swagger with Scalar
  Backend/PersonalLibrary.API/PersonalLibrary.API.csproj
  Backend/PersonalLibrary.API/Program.cs
  README.Docker.md
  README.md
  Summary/Summary.md
Due: backend

docs: simplify documentation and replace Swagger with Scalar (#21)
  Backend/PersonalLibrary.API/PersonalLibrary.API.csproj
  Backend/PersonalLibrary.API/Program.cs
  README.Docker.md
  README.md
  Summary/Summary.md
Due: backend

Update summary
  Summary/Summary.md
Due: none

Update summary (#23)
  Summary/Summary.md
Due: none
